<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SLEEPC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <SLEEPC.Properties.Settings>
            <setting name="CHora" serializeAs="String">
                <value>12:00:00 a.</value>
            </setting>
            <setting name="CIntervalo" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="CSonido" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CFuncion" serializeAs="String">
                <value>0</value>
            </setting>
        </SLEEPC.Properties.Settings>
    </userSettings>
</configuration>